@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
    font-family: Lato;
    margin: 0;
}
.text-primary{
    color: #E55473;
}
.paragraph-text{
    color: #272727;
    font-size: 18;
    opacity: 0.6;
    font-weight: 400;
}
.btn-primary{
    background-color: #E55473;
    color: #fff;
    border: none;
    border-radius: 5px;
}
header{
    position: relative;
}
.hero-section{
    display: flex;
    padding: 0 130px;
    position: relative;
    height: 850px;
    background: transparent;
}
.hero-section .side-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 35px;
}
.hero-section .side-contents h1{
    font-weight: 900;
    font-size: 80px;
    color: #272727;
    margin: 0;
}
.side-contents button{
    padding: 10px 20px;
    width: fit-content;
    font-weight: 500;
    font-size: 20px;
}
.side-contents p{
    margin: 20px 0 20px 0;
}
header .background{
    position: absolute;
    top: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    background-color: #E55473;
    opacity: 0.1;
}
.hero-section .hero-image{
    width: 600px;
    height: 770px;
    align-self: flex-end;
}

/*Main*/
main section{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 850px;
    padding: 130px;
}
main section h3{
    font-size: 40px;
    margin: 0;
}
main section p{
    width: 500px;
    text-align: center;
    margin-bottom: 100px;
}
main section .image-slider{
    display: flex;
    gap: 25px;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.image-slider .image img{
    scale: 0.8;
    position: relative;
    bottom: -50px;
}
.image-slider .image:nth-child(2) img{
    scale: 0.8;
    bottom: 0;
}
main section .image-slider > .image{
    width: 400px;
    height: 400px;
    padding: 100px 25px 0 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.image-slider .image::after{
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    border-top-left-radius: 275px;
    border-top-right-radius: 275px;
    opacity: 0.2;
}
.image-slider .image:nth-child(1):after{
    background-color: #A72162;
}
.image-slider .image:nth-child(2):after{
    background-color: #0597A0;
}
.image-slider .image:nth-child(3):after{
    background-color: #477D11;
}
.captions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.captions a{
    font-size: 20px;
    color: #272727;
    text-underline-offset: 5px;
    font-weight: 600;
}

/*update section*/
section.update{
    padding: 130px;
    height: 300px;
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.update .image-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img{
    height: 400px;
    width: 1250px;
}
.update .contents{
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contents h2{
    font-size: 40px;
    color: #272727;
    font-weight: 700;
    margin: 0;
}
.contents span{
    margin-bottom: 30px;
}
.contents input, button{
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 12px;
}
.contents input{
    width: 490px;
    outline: none;
}
/*footer*/
footer{
    background-color: #1e1e1e;
    padding: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}
footer h2{
    font-size: 50px;
    color: #fff;
    font-weight: 900;
    margin: 0;
}
footer p.paragraph-text{
    width: 500px;
    color: #fff;
    font-size: 18px;
    opacity: 1;
    margin: 0;
}
footer p{
    opacity: 40%;
    color: #fff;
    font-size: 18px;
}